<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   
    
    <link href="css/mui.min.css" rel="stylesheet"/>

</head>
<body>
	<header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-bars mui-pull-left menua"></a>
            <a class="mui-icon mui-icon-plus mui-pull-right adda"></a>
            <h1 class="mui-title">ToDo</h1>
	</header>

	<!-- mui -->
    <script src="../js/mui.min.js"></script>
    <!-- jquery -->
    <script src="../js/lib/jquery/jquery-3.1.1.min.js"></script>
    <!-- bruce.h.js -->
	<script src="../js/lib/bruceyuj/bruce.h.js" type="text/javascript" charset="utf-8"></script>
    <!-- app -->
    <script src="../js/app/index.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>