<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<!-- mui -->
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
	</head>
	
	<body>
		
		<div class="mui-content">
			<ul class="mui-table-view" style="margin-top:0;display:none;" id="todolist"></ul>
		</div>
		<!-- mui -->
    	<script src="../js/mui.min.js"></script>
    	<!-- jquery -->
    	<script src="../js/lib/jquery/jquery-3.1.1.min.js"></script>
    	<!-- bruce.h.js -->
		<script src="../js/lib/bruceyuj/bruce.h.js" type="text/javascript" charset="utf-8"></script>
    	<!-- app -->
    	<script src="../js/app/list.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
